# Rust
target/
**/*.rs.bk

# Node / JS
node_modules/
dist/
*.tsbuildinfo

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# C#
bin/
obj/

# Env & secrets
.env
.env.local
*.pem
*.key

# Databases locales
*.db
*.sqlite
*.sqlite3

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
